<div class="outer-wrapper">
  <div class="forgot-password-card">
    <div class="header">
      <div class="branding">
        <mat-icon fontIcon="school"></mat-icon>
        <span class="university-name">{{ publicService.universityName() || ("platformName" | translate) }}</span>
      </div>
      <h1>{{ 'forgotPassword.title' | translate }}</h1>
      <p>{{ 'forgotPassword.instruction' | translate }}</p>
    </div>

    <form [formGroup]="form" (ngSubmit)="sendResetLink()" class="form">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'forgotPassword.emailLabel' | translate }}</mat-label>
        <mat-icon matPrefix fontIcon="email"></mat-icon>
        <input matInput formControlName="email" [readonly]="linkSent()" type="email" placeholder="email@example.com">
      </mat-form-field>

      <button mat-flat-button color="primary" type="submit" class="submit-button" [disabled]="form.invalid || isLoading() || countdown() > 0">
        @if (isLoading()) {
          <mat-spinner diameter="24"></mat-spinner>
        } @else if (countdown() > 0) {
           <span>{{ 'forgotPassword.resendIn' | translate }} {{ formattedCountdown }}</span>
        } @else {
           <div class="button-content">
             <span>{{ (linkSent() ? 'forgotPassword.resendButton' : 'forgotPassword.sendButton') | translate }}</span>
             <mat-icon fontIcon="send"></mat-icon>
           </div>
        }
      </button>

      @if (message()) {
        <div class="message-container" [class.success]="linkSent()">
          <mat-icon [fontIcon]="linkSent() ? 'check_circle' : 'error'"></mat-icon>
          <span>{{ message()! | translate }}</span>
        </div>
      }

      <div class="actions">
        <a mat-button routerLink="/login">
          <mat-icon fontIcon="arrow_back"></mat-icon>
          {{ 'login.backToLogin' | translate }}
        </a>
      </div>
    </form>
  </div>
</div>
