<div class="outer-wrapper">
  <div class="login-card">
    <div class="header">
      <div class="login-branding">
        <span><mat-icon fontIcon="school"></mat-icon></span>
        <span class="platform-name">{{ "platformName" | translate }}</span>
      </div>
      <h1>{{ "login.welcome" | translate }}</h1>
      <p>{{ "login.loginText" | translate }}</p>
    </div>

    <form class="form" (submit)="onLogin(); $event.preventDefault()">
      <mat-form-field>
        <mat-label>{{ "login.email" | translate }}</mat-label>
        <mat-icon matIconPrefix fontIcon="person"></mat-icon>
        <input matInput
               type="email"
               [ngModel]="email()"
               (ngModelChange)="email.set($event)"
               name="email"
               required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ "login.password" | translate }}</mat-label>
        <mat-icon matIconPrefix fontIcon="lock"></mat-icon>
        <input matInput
               type="password"
               [ngModel]="password()"
               (ngModelChange)="password.set($event)"
               name="password"
               required>
      </mat-form-field>

      @if (loginError()) {
        <p style="color: red; font-size: 0.8rem; margin-bottom: 1rem;">
          {{ "login.error" | translate }}
        </p>
      }

      <button mat-flat-button
              color="primary"
              class="login-button"
              type="submit"
              [disabled]="isLoading() || !email() || !password()">
        @if (isLoading()) {
          <mat-icon fontIcon="autorenew"></mat-icon>
        }
        @else {
          <div class="content">
            {{ "login.button" | translate }}
            <mat-icon fontIcon="login"></mat-icon>
          </div>
        }
      </button>

      <div class="actions">
        <a mat-button routerLink="/forgot-password">
          {{ "login.forgotPassword" | translate }}
        </a>
        <a mat-button routerLink="/register">
          {{ "login.register" | translate }}
        </a>
      </div>
    </form>

    <div class="footer">
      <hr class="hr">
      <p class="text">
        <mat-icon class="icon" fontIcon="copyright"></mat-icon>
        <span>{{ currentDate | date: 'yyyy' }}</span>
        <span>{{ "platformName" | translate }}</span>
      </p>
    </div>
  </div>
</div>
