.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  background-color: var(--mat-sys-background);
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font: var(--mat-sys-title-medium);
  color: var(--mat-sys-primary);
  gap: 0.5rem;

  &:hover, &.active {
    font-weight: bold;
  }
}

.platform-name {
  font: var(--mat-sys-title-medium);
  font-weight: bold;
  color: var(--mat-sys-primary);
}

.nav-icon {
  color: var(--mat-sys-primary);
}

.logout-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
