<nav class="nav-wrapper">
  <a class="nav-header">
    <mat-icon class="nav-icon" fontIcon="school"></mat-icon>
    <span class="platform-name">{{ universityName() || ("platformName" | translate) }}</span>
  </a>

  <ul class="nav-list">
    @for (link of currentLinks(); track link.path) {
      <li>
        <a [routerLink]="link.path"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: link.exact}"
           #rla="routerLinkActive"
           (mouseenter)="hoveredItem.set(link.path)"
           (mouseleave)="hoveredItem.set(null)">

          <mat-icon
            class="nav-icon"
            [class]="(rla.isActive || hoveredItem() === link.path) ? 'material-icons' : 'material-icons-outlined'"
            [fontIcon]="((rla.isActive || hoveredItem() === link.path) && link.activeIcon) ? link.activeIcon : link.icon">
          </mat-icon>
          {{ link.label | translate }}
        </a>
      </li>
    }
  </ul>

  <div class="nav-actions">
    <button mat-flat-button (click)="openSettings()" class="settings-btn">
      <mat-icon fontIcon="account_circle"></mat-icon>
      {{ "navigation.profileAndSettings.profileAndSettingsName" | translate }}
    </button>
  </div>
</nav>
