// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}

@mixin apply-theme($primary-palette) {
  @include mat.theme((color: (primary: $primary-palette),
      typography: Roboto,
      density: 0,
    ));
}

.theme-red {
  @include apply-theme(mat.$red-palette);
}

.theme-green {
  @include apply-theme(mat.$green-palette);
}

.theme-blue {
  @include apply-theme(mat.$blue-palette);
}

.theme-yellow {
  @include apply-theme(mat.$yellow-palette);
}

.theme-cyan {
  @include apply-theme(mat.$cyan-palette);
}

.theme-magenta {
  @include apply-theme(mat.$magenta-palette);
}

.theme-orange {
  @include apply-theme(mat.$orange-palette);
}

.theme-azure {
  @include apply-theme(mat.$azure-palette);
}

.theme-violet {
  @include apply-theme(mat.$violet-palette);
}

.theme-rose {
  @include apply-theme(mat.$rose-palette);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.error-snackbar {
  --mdc-snackbar-container-color: var(--mat-sys-error-container);
  --mat-mdc-snack-bar-button-color: var(--mat-sys-on-error-container);
  --mdc-snackbar-supporting-text-color: var(--mat-sys-on-error-container);
}

.success-snackbar {
  --mdc-snackbar-container-color: var(--mat-sys-tertiary-container);
  --mat-mdc-snack-bar-button-color: var(--mat-sys-on-tertiary-container);
  --mdc-snackbar-supporting-text-color: var(--mat-sys-on-tertiary-container);
}
